*{margin: 0;padding: 0;}
body{background: #F7B7C4;font: normal normal 16px/30px arial,"微软雅黑";overflow: hidden; }
#container{text-align: center; width: 100%; height: 568px;;background:#F7B7C4 url(../img/background_1.png) repeat-y center center; position: relative; overflow: hidden; margin: 0px auto;}
.myPlane{width: 2rem;height: 2.5rem;background:url(../img/myPlane.gif);background-size:100% 100%; position: absolute; z-index: 10; bottom: 25%; left: 45%;}
.npc1{width: 1.1rem;height: 1.5rem;background:url(../img/npc1.png); background-size:100% 100%;position: absolute; top: 0; left: 45%;}
.npc2{width: 2.1rem;height: 3.2rem;background:url(../img/npc2.png); background-size:100% 100%;position: absolute; top: 0; left: 45%;}
.npc3{width: 3rem;height: 4rem;background:url(../img/npc3.png); background-size:100% 100%;position: absolute; top: 0; left: 45%;}
.npc4{width: 4rem;height: 6rem;background:url(../img/npc4.png); background-size:100% 100%;position: absolute; top: 0; left: 45%;}
#container i.lv1{position: absolute; width: .4rem; height: 1rem; background:url(../img/bullet1.png);background-size:100% 100%;}
#container i.lv2{position: absolute; width: 1rem; height: 1.5rem; background:url(../img/bullet2.png);background-size:100% 100%;}
#container i.lv3{position: absolute; width: 2.5rem; height: 2rem; background:url(../img/bullet3.png);background-size:100% 100%;}
#container span{display: block;position: absolute;}
/*爆炸效果(我机和敌机)*/
.bang{background:url(../img/myPlaneBang.gif); background-size:100% 100%;}
.bang1{ background:url(../img/plane1.gif); background-size:100% 100%;}
.bang2{background:url(../img/plane2.gif);  background-size:100% 100%;background-size:100% 100%;}
.bang3{background:url(../img/plane3.gif);  background-size:100% 100%;background-size:100% 100%;background-size:100% 100%;}
.bang4{background:url(../img/plane4.gif); background-size:100% 100%;}
#score {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 0.6rem;
    background: rgba(255, 255, 255, 0.3);
    width:100%;
    text-align:left;
    color:#fff;
}

#tipMess {
    position: absolute;
    left: 0;
    top: 1.4rem;
    width: 100%;
}
#container input{
	background: none;
    border: 0.1rem solid #fff;
    color: #fff;
    border-radius: 1rem;
    padding: 0.4rem 2rem;
    outline: none;
    margin-top: 16rem;
    margin-left:5rem;
    font-size: 0.7rem;
    display: block;

}
#begin{ position: absolute; background: url(../img/begin.png) no-repeat center center; width: 100%; height: 100%; z-index: 999;}
#goon{	width: 100%; height: 100%; z-index: 99; position: relative; text-align: center; display: none;}
#info{	width: 45%; height:auto; background: rgba(255,255,255,.3); text-align: center; display: none; border:1px solid #fff; border-radius: 5px;
margin: 66% auto 0;
position: relative; z-index: 99;
}
#endScroe{ height:48%; line-height: 400%; border:1px solid #fff; border-width: 1px 0; font-weight: bold;}
#container #rest_btn{ margin-top:0 ; margin-left:0;border:0;}
.tip{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, .2);
    text-align: center;
    border-bottom: 1px solid #fff;
    /* border-radius: 1rem; */
    margin: 0.1rem auto 0;
    padding: 0.2rem;
    position: relative;
    z-index: 99;
    color: #fff;
}
@-webkit-keyframes flash{
    0%,100%,50%{opacity:1}25%,75%{opacity:0}}
@keyframes flash{
    0%,100%,50%{opacity:1}25%,75%{opacity:0}}
.flash{
    animation: flash 1.5s linear;
    -webkit-animation-name:flash 1.5s linear;
}
/*musicBtn*/
.music{
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    z-index: 10000;
    background: url(../img/music.png) no-repeat;
    background-size: 100% 100%;

}
.rotate{
    animation:rotate 1.3s linear 0s infinite;
}
@keyframes rotate{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}
@-webkit-keyframes rotate{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}
.confirmWindow {
    width: 50%;
    height: auto;
    background: rgba(255, 255, 255, .3);
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    z-index: 999999;
    top: 16rem;
    left: 25%;
    overflow: hidden;
}
.confirmWindow .question{
    text-align:center;
    border-bottom:1px solid #fff;
}
.confirmWindow .sure{
    float:left;
    text-align:center;
    background: #fff;
    padding:0.1rem;
    width:47%;
}
.confirmWindow .no{
    background: none;
}
